/*

TemplateMo 583 Festava Live

https://templatemo.com/tm-583-festava-live

*/


/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #3CB7BE;
  --secondary-color:              #AAFBFF;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #AAFBFF;
  --custom-btn-bg-hover-color:    #5B90B2;
  --dark-color:                   #000000;
  --p-color:                      #212529;
  --border-color:                 #7fffd4;
  --link-hover-color:             #5B90B2;

  --body-font-family:             'Outfit', sans-serif;

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --btn-font-size:                14px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--custom-btn-bg-hover-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}
span{
  color: var(--custom-btn-bg-hover-color);
}

.link-fx-1 {
  color: var(--white-color);
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 32px;
  padding: 0 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link-fx-1:hover {
  color: var(--link-hover-color);
}

.link-fx-1:hover::before {
  transform: translateX(17px) scaleX(0);
  transition: transform .2s;
}

.link-fx-1:hover .icon circle {
  stroke-dashoffset: 200;
  transition: stroke-dashoffset .2s .1s;
}

.link-fx-1:hover .icon line {
  transform: rotate(-180deg);
}

.link-fx-1:hover .icon line:last-child {
  transform: rotate(180deg);
}

.link-fx-1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform-origin: right center;
  transition: transform .2s .1s;
}

.link-fx-1 .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateX(100%) rotate(90deg);
  font-size: 32px;
}

.icon {
  --size: 1em;
  height: var(--size);
  width: var(--size);
  display: inline-block;
  color: inherit;
  fill: currentColor;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
}

.link-fx-1 .icon circle {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: stroke-dashoffset .2s;
}

.link-fx-1 .icon line {
  transition: transform .4s;
  transform-origin: 13px 15px;
}

.link-fx-1 .icon line:last-child {
  transform-origin: 19px 15px;
}
.text-primeiro{
  color: var(--primary-color);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}

.section-overlay {
  background-color: var(--dark-color);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.section-overlay + .container {
  position: relative;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  padding: 45px;
}

.nav-tabs {
  background-color: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  border-bottom: 0;
  padding: 15px;
}

.nav-tabs .nav-link {
  border-radius: var(--border-radius-large);
  border: 0;
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 15px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  background: var(--white-color);
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  color: var(--primary-color);
}

.nav-tabs h5 {
  color: var(--p-color); 
  margin-bottom: 0;
}

.nav-tabs .nav-link.active h5,
.nav-tabs .nav-link:focus h5, 
.nav-tabs .nav-link:hover h5 {
  color: var(--primary-color);
}


/*---------------------------------------
  CUSTOM ICON COLOR               
-----------------------------------------*/
.custom-icon {
  color: var(--secondary-color);
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-bold);
  line-height: normal;
  transition: all 0.3s;
  padding: 10px 20px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: transparent;
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn:hover,
.custom-border-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
  color: var(--white-color);
}

.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}


/*---------------------------------------
  VIDEO              
-----------------------------------------*/
.video-wrap {
  z-index: -100;
}

.custom-video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-color: var(--primary-color);
  padding-top: 12px;
  padding-bottom: 12px;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 51px;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--dark-color);
}

.navbar {
  background: transparent;
  z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
  color: var(--white-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px 20px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  height: calc(100vh - 51px);
}

.hero-section small {
  color: var(--white-color);
  text-transform: uppercase;
}

.hero-section .section-overlay {
  z-index: 2;
  opacity: 0.45;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  height: 100%;
  padding-bottom: 50px;
}

.hero-section .container .row {
  height: 100%;
}



/*---------------------------------------
  CONTACT               
-----------------------------------------*/
.google-map {
  border-radius: var(--border-radius-medium);
}


/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-medium);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}


/*---------------------------------------
  SITE FOOTER              
-----------------------------------------*/
.site-footer {
  background-color: var(--dark-color);
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
}

.site-footer-top {
  background-color: var(--secondary-color);
  background-image: url('../images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg');
  background-repeat: no-repeat;
  margin-bottom: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer-bottom {
  border-top: 1px solid #1f1c1c;
  margin-top: 60px;
}

.site-footer-title {
  color: var(--primary-color); 
}

.site-footer-link,
.copyright-text {
  color: var(--white-color);
}

.site-footer-links {
  padding-left: 0;
}

.site-footer-link-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
}

.copyright-text {
  font-size: var(--copyright-font-size);
}


/*---------------------------------------
  SOCIAL ICON               
-----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;

}

.social-icon-link {
  background: var(--secondary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: 1.5em;
  display: block;
  margin-right: 10px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 36px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.social-icon-link span {
  display: block;
}

.social-icon-link span:hover::before{
  animation: spinAround 2s linear infinite;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}


/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 62px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .navbar {
    background-color: var(--dark-color);
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 30px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .hero-section {
    padding-top: 150px;
  }

  .pricing-thumb {
    padding: 35px;
  }

  .schedule-table h3 {
    font-size: 22px;
  }

  .schedule-table th {
    padding: 20px;
  }

  .schedule-table tr, 
  .schedule-table td {
    padding: 25px;
  }

  .ticket-section {
    padding-top: 130px;
  }

  .ticket-form {
    padding: 30px;
  }
}

@media screen and (max-width: 767px) {
  .custom-btn {
    font-size: 14px;
    padding: 10px 20px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 52px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
}


.info-card {
  background-color: #f0f8ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* novos recursos */
.info-box {
  align-items: center;
  display: flex;
}

.info-box img {
  width: 90px;
}

.service {
  padding: 32px;
  background-color: var(--white-color);
  box-shadow: var(--shadow);
}

.service h5 {
  margin-top: 24px;
  margin-bottom: 14px;
}

.service img {
  width: 90px;
}

/* estatisticas */
.estatisticas {
  background-color: var(--section-bg-color);
  padding: 80px 0;
}

.estatistica-item {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.estatistica-item:hover {
  transform: translateY(-5px);
}

.estatistica-item h1 {
  font-size: 48px;
  color: var(--dark-color);
  margin-bottom: 10px;
}

.estatistica-item p {
  font-size: 16px;
  color: #666666;
}

/* serviços */
/* Estilos para a seção de serviços */
#services {
  background-color: var(--section-bg-color);
  padding: 80px 0;
}

#services h6 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--p-color);
}

#services h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--p-color);
}

#services p {
  font-size: 16px;
  line-height: 1.6;
  color: #777;
}

/* Estilos para os itens de serviço */
.service {
  background-color: var(--section-bg-color);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service:hover {
  transform: translateY(-5px);
}

.service img {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.service h5 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--p-color);
}

.service p {
  font-size: 16px;
  line-height: 1.6;
  color: #777;
}

.about-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



#clientes {
    padding: 80px 0;
    background-color: var(--section-bg-color);
  }

#clientes h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--p-color);
}

#clientes p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
}

#clientes .row.justify-content-center {
    margin-top: 40px;
}

#clientes .col-6 {
    margin-bottom: 20px;
}

#clientes img {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#clientes img:hover {
    transform: scale(1.05);
}

@media (max-width: 768px) {
    #clientes .col-6 {
        margin-bottom: 30px;
    }
}
/* Estilização para o botão do WhatsApp */
.btn-whatsapp {
  position: relative;
  z-index: 1;
  padding: 15px 25px;
  font-size: 18px;
  color: #fff;
  background-color: #25D366;
  border: none;
  border-radius: 50px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
}

.btn-whatsapp:before,
.btn-whatsapp:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #25D366;
  border-radius: 50px;
  z-index: -1;
}

.btn-whatsapp:before {
  filter: blur(20px);
}

.btn-whatsapp:after {
  filter: blur(40px);
}

.btn-whatsapp:hover:before,
.btn-whatsapp:focus:before,
.btn-whatsapp:active:before,
.btn-whatsapp:hover:after,
.btn-whatsapp:focus:after,
.btn-whatsapp:active:after {
  animation: neon-glow 1s ease-in-out infinite alternate;
}

@keyframes neon-glow {
  0% {
    filter: blur(20px);
    opacity: 0.6;
  }
  100% {
    filter: blur(40px);
    opacity: 0.3;
  }
}

.btn-whatsapp:hover {
  background-color: #128C7E;
}
#clientes .container-clientes {
  text-align: center;
}

#clientes .container-clientes .row {
  overflow-x: auto;
  white-space: nowrap;
}

#clientes .container-clientes .col-6 {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}


#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#portfolio .portfolio-item img {
  transition: transform 0.3s ease-in-out;
}

#portfolio .portfolio-item:hover img {
  transform: scale(1.1);
}

#portfolio .portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#portfolio .portfolio-item:hover::before {
  opacity: 1;
}

/* Adiciona espaçamento entre as colunas */
@media (min-width: 768px) {
  #portfolio .portfolio-item {
      margin-bottom: 30px;
  }
}
.container-team{
  background-color: var(--section-bg-color);

}

#team .intro {
  text-align: center;
  margin-bottom: 30px;
}

#team .intro h6 {
  color: var(--custom-btn-bg-hover-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

#team .intro h1 {
  color: #555;
  font-size: 36px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

#team .team-member {
  text-align: center;
  margin-bottom: 30px;
}

#team .team-member .image {
  position: relative;
  overflow: hidden;
}

#team .team-member .image img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

#team .team-member .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(41, 255, 226, 0.452), rgba(41, 45, 255, 0.39));
  opacity: 0;
  transition: opacity 0.3s ease;
}

#team .team-member .social-icons {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#team .social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: var(--p-color);
  margin: 0 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

#team .social-icons a:hover {
  background-color: #fff;
}

#team .team-member:hover .image img {
  transform: scale(1.1);
}

#team .team-member:hover .overlay {
  opacity: 1;
}

#team .team-member:hover .social-icons {
  opacity: 1;
}

#team .team-member h5 {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--p-color);
}

#team .team-member p {
  margin-bottom: 0;
  color: #666;
  font-size: 16px;
}

.container-body{
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* infomaçoes growth */
#informativo {
  background-color: #f8f8f8;
  padding-top: 50px;
  padding-bottom: 50px;
}

#informativo h2 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

#informativo p.lead {
  font-size: 18px;
  color: #777;
  margin-bottom: 30px;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  animation: slide-up 0.5s ease;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.card-text {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}

.card ol,
.card ul {
  margin-left: 20px;
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}

.text-center h4 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.text-center p {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Animação de slide-up */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
